
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

//Bulma
@import "bulma";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.content li + li {
    margin-top: 0em;
}

.dropdown {
	display: block!important;
}

.dropdown-menu {
	width: 100%;
	position: relative;
}

.v-expansion-panel {
    margin: 12px 0;
}

.v-expansion-panel__header .header__icon {
	text-align: right;
}

.alternating-boxes {
    padding: 12px;
}

.alternating-boxes .input {
    margin-bottom: 4px;
}

.alternating-boxes:nth-child(odd) {
	background-color:#555;
}

.alternating-boxes:nth-child(even) {
	background-color:#aaa;
}

.tabs {
    margin-top: 12px;
}

.field .select, .field select {
	width:100%;
}